img{
                width:300px;
            }
            main{
                width:50%;
                margin-left:auto;
                margin-right:auto;
                background-color:rgb(198, 252, 252);
                border-radius:2%;
                padding-left: 20px;
                padding-right:20px;
            }
            body{
                background-color: rgb(178, 231, 188);
            }