img{
            width: 500px
        }
        main{
            width: 50%;
        margin-left:auto ;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        border-radius: 4%;
        background-color: fffafa;}
        body{
            background-color: b0c4de;
        }