 img{width:300px;}
        main{width:50%;
             margin-left: auto;
             margin-right: auto;
             background-color: beige;
             border-radius: 5%;
             padding-left: 20px;
             padding-right: 20px;
             padding-bottom: 20px;
             padding-top: 20pX;}
        body{background-color: black;} 