    img{
        width: 200px;
    }
    main{
        width:50%;
        margin-left:auto;
        margin-right:auto;
        background-color: #88aea8ff;
        border-radius: 5%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 1px;
    }
    body{
        background-color: rgb(255, 255, 255);
    }