img{
            width: 300px;
        }
        main{
            width:50%;
            margin-left:auto;
            margin-right:auto;
            background-color: rgb(194, 97, 97);
            border-radius:2%;
            padding-left: 20px;
            padding-right: 20px;
        }
        body{
            background-color: rgba(113, 98, 98, 0.735);
        }