img{
                width: 500px;
            }
            main{
                width: 50%;
                margin-left: auto;
                margin-right: auto;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 3%;
                background-color: #b0c4de;
            }
            body{
                background-color:#1e384d ;
            }