         img{
            width: 300px;
        }
        main{
            width:50%;
            margin-left: auto;
            margin-right: auto;
            background-color:rgb(232, 244, 242);
            border-radius: 2%;
            padding-left: 20px;
            padding-right: 20px;
        }
        body{
            background-color: rgb(159, 192, 192);
        }