            img{width: 300px}
            main{width: 10%;
                margin-left:auto;
                margin-right:auto;
                background-color: blanchedalmond;
                padding-left :20px;
                padding-right :20px;
                border-radius: 10%;
            }
            body{
                background-color: aquamarine;
            }