 img{
                width: 300;
            }
            main{
                width:50%;
                margin-left: auto;
                margin-right:auto;
                padding-left:20px;
                padding-right:20px;
                border-radius:2%;
                background-color:#f0fff0;
            }
            body{
                background-color:#f5fffa;
            }