 img{
            width: 300px;
        }
         main{
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            background-color: rgb(255, 255, 255);
            border-radius: 5%;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
         }   
         body{
            background-color: rgba(0, 0, 0, 0.58);
         }