 img {
      width: 300px;
 }

 main {
      width: 50%;
      margin: auto;
      margin-right: auto;
      background-color: beige;
      border-radius: 2%;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
 }

 body {
      background-color: beige;
 }