img {
    width: 300px;
    display: block;
}

body {
    background-color: oklch(27.8% 0.033 256.848);
}

main {
    width: 50%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: oklch(96.7% 0.003 264.542);
    border-radius: 1%;
    padding: 20px;
}

h1 {
    margin: 0;
}