img{
                width:300px;
            }
            main{
                width:50%;
                margin-left:auto;
                margin-right:auto;
                padding-left:40px;
                padding-right:40px;
                padding-top: 1px;
                padding-bottom: 30px;
                border-radius: 3.141592653589793238%;
                background-color:#98fb98 ;
            }
            body{
                background-color: #00fa9a;

            }